/*.FontGallery {
  font-family: "Edu NSW ACT Hand Pre", cursive;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  text-align: center;
  font-size: 100px;
}*/

/* style */
body {
  font-family: "Nunito", cursive;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  background-color: #eee;
  background-image: url(../img/full/job562-nunoon-10.jpg);
  background-size: 100%;
}

/*Judul Start*/
h1 {
  font-size: 80px;
  margin: 30px auto;
  text-align: center;
  text-shadow: 0px 0px 3px white;
}
/*Judul End*/

/*Container Start*/
.container {
  width: 900px;
  background-color: rgba(246, 243, 243, 0.7);
  margin: auto;
  padding: 50px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}
/*Container End*/

/*Gallery Start*/
.gallery li {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  /* overflow: hidden; */
  border: 5px solid rgb(135, 135, 135);
  float: left;
  margin-right: 15px;
  position: relative;
}

.gallery li a img {
  border-radius: 50%;
}

.gallery li span {
  display: block;
  width: 200px;
  height: 200px;
  background-color: rgba(8, 8, 8, 0.5);
  border-radius: 50%;
  position: absolute;
  font-size: 30px;
  top: 0;
  text-align: center;
  line-height: 200px;
  color: white;
  opacity: 0;
  transition: 0.3s;
}

.gallery li a:hover span {
  opacity: 1;
}

.clear {
  clear: both;
}
/*Gallery End*/

.overlay {
  width: 0;
  height: 0;

  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0);
  z-index: 9999;
  transition: 0.3s;
  text-align: center;
  padding: 80px 0;
}

.overlay:target {
  width: auto;
  height: auto;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.overlay img {
  max-height: 100%;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.8);
  border-radius: 10px;
}

.overlay:target img {
  animation: animasiZoomIn 0.5s;
}

.overlay:target .next {
  animation: animasiNext 0.5s 0.5s forwards;
}
.overlay:target .prev {
  animation: animasiPrev 0.5s 0.5s forwards;
}

/*next navigasi start*/
.next,
.prev {
  width: 53px;
  height: 53px;
  background-image: url(../img/full/arrow_forward_ios_53dp_E3E3E3_FILL0_wght400_GRAD0_opsz48.png);
  position: absolute;
  text-indent: -9999px;
  top: 50%;
  margin-left: 20px;
  opacity: 0;
}

.prev {
  background-image: url(../img/full/arrow_back_ios_53dp_E3E3E3_FILL0_wght400_GRAD0_opsz48.png);
  margin-left: -60px;
}
/*next navigasi end*/

/*animation next dan prev navigasi start*/
@keyframes animasiNext {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes animasiPrev {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*animation next dan prev navigasi end*/
/*animasi zoom in start*/
@keyframes animasiZoomIn {
  0% {
    transform: scale(0);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}
/*animasi zoom in end*/

.overlay .close {
  position: absolute;
  top: 30px;
  right: 50px;
}
